<style>
     .callheader {
      background-color: black;
      font-family: Roboto, sans-serif;
      color: white;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
      height: 50px;
      margin-bottom: 10px;
      border-radius: 0.375rem;
      font-size: 18px;
      text-decoration: none;
    }

  .flex-container {
    display: flex;
    justify-content: space-between;
    

  }
  div#resultado {
    background-image: url("systems/gurps/icons/hex2.webp");
    height: 150px;
    text-align: center;
    margin-bottom: 15px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(80, 83, 83, 0.384);
    border-radius: 18px;
    border-top: 5px solid rgb(0, 0, 0);
    background-color: rgba(231, 231, 231, 0.555);
    font-size: 14px;
  }
</style>
<body>
    <div class="callheader">Contacts</div>

      <div id="resultado" style='font-size: 16px;  padding: 5px ;text-align: center;'>
        <p>The point value of a  Contact is based on the skill he uses to assist you, the frequency with which
          he provides information or favors, and his reliability as a person. Fill the fields and press the button!</p>
          
      
      </div>
    
       <form>
      <div class="form-group">
        <label>Frequency</label>
        <div class="form-fields">
          <input id="frequency" type="number" name="" >
        </div>
      </div>
    </form>
  
  
    <form>
      <div class="form-group">
        <label>Effective Skill</label>
        <div class="form-fields">
          <input id="effective-skill" type="number" name="" >
        </div>
      </div>
    </form>
  
    <div class="coluna3">
      <form>
        <div class="form-group">
          <label style="text-align: left">Reliability </label>
          <div class="form-fields">
            <select id="reliability" name="reliability">
              <option value="cr">Completely Reliable</option>
              <option value="ur">Usually Reliable</option>
              <option value="r">Somewhat Reliable</option>
              <option value="u">Unreliable</option>
                   
  
            </select>
          </div>
        </div>
      </form>
    </div>
    <br>
  
  
    <div class="flex-container">
   
    <button class="check" role="button" onclick="check()"> Call me maybe! </button>
  
  <div>
  
  
  
  </body>
<script>
        let resultado = window.document.getElementById("resultado");

 function check() {
  const gm = ['1wvFEddoeqrS4gB1']

      let frequency = document.getElementById("frequency").value;
      let effectiveSkill = document.getElementById("effective-skill").value;
      let reliability = document.getElementById("reliability").value;


      // generate a 3d6 roll
      let rollEffectiveSkill = [];
      let rollReliability = [];
      let rollFrequency = [];

for (var a = 1; a <= 3; a++) {
  rollEffectiveSkill.push(Math.floor(Math.random() * (6 - 1 + 1) + 1));
  }
      let totalRollEffectiveSkill = rollEffectiveSkill.reduce((pV, cV) => pV + cV, 0);
   
      for (var b = 1; b <= 3; b++) {
  rollFrequency.push(Math.floor(Math.random() * (6 - 1 + 1) + 1));
  }
      let totalFrequency = rollFrequency.reduce((pV, cV) => pV + cV, 0);
  
    // check result and draw a result  
    console.log(`You rolled ${totalFrequency} an appearence check`)
if (totalFrequency<=frequency)
   
     switch (reliability) {
    //////////////////////////////////COMPLETELY RELIABLE
   case "cr":

if(totalRollEffectiveSkill<=effectiveSkill)
resultado.innerHTML = `<div style='font-size: 16px;  padding: 5px ;text-align: center;'>Success!</div> 
<p>The Contact helps you!</p>`
else
resultado.innerHTML = `<div style='font-size: 16px;  padding: 5px ;text-align: center;'>You found your contact but failed the effective skill check!</div> 
<p>You rolled <b>${totalRollEffectiveSkill}</b>. Even on a critical failure on his effective skill roll, the Contact’s worst response will be “I
don’t know.” On an ordinary failure he can find information in <b>${rollEffectiveSkill[0]}</b> days.`
break; 
/////////////////////////////////////USUALLY RELIABLE
case "ur":
if(totalRollEffectiveSkill<=effectiveSkill)
resultado.innerHTML = `<div style='font-size: 16px;  padding: 5px ;text-align: center;'>Success!</div> 
<p>The Contact helps you!</p>`
else
resultado.innerHTML = `<div style='font-size: 16px;  padding: 5px ;text-align: center;'>You found your contact but failed the effective skill check</div> 
<p>You rolled <b>${totalRollEffectiveSkill}</b>. On a critical failure, the Contact lies. On any other failure, he doesn’t know now, “. . . but
check back in <b>${rollEffectiveSkill[0]}</b days.” Roll again at that time; a failure then means he can’t find out at all.`
break;
/////////////////////////////////////SOMEWHAT RELIABLE

case "sr":
if(totalRollEffectiveSkill<=effectiveSkill)
resultado.innerHTML = `<div style='font-size: 16px;  padding: 5px ;text-align: center;'>Success!</div> 
<p>The Contact helps you!</p>`
else
resultado.innerHTML = `<div style='font-size: 16px;  padding: 5px ;text-align: center;'>You found your contact but failed the effective skill check</div> 
<p>You rolled <b>${totalRollEffectiveSkill}</b>. On a failure, the Contact doesn’t know and can’t find out. On a critical failure, he lies –
and on a natural 18, he lets the opposition or authorities (as appropriate) know who is asking questions.`
break;

/////////////////////////////////////UNRELIABLE

case "u":
if(totalRollEffectiveSkill<=effectiveSkill)
resultado.innerHTML = `<div style='font-size: 16px;  padding: 5px ;text-align: center;'>Success!</div> 
<p>Reduce effective skill by 2.</p>`
else
resultado.innerHTML = `<div style='font-size: 16px;  padding: 5px ;text-align: center;'>You found your contact but failed the effective skill check</div> 
<p>You rolled <b>${totalRollEffectiveSkill}</b>.On any failure, he lies; on a critical failure, he notifies the enemy.`
break;

     }
     else
     resultado.innerHTML = `<div style='font-size: 16px;  padding: 5px ;text-align: center;'>Failure!</div> 
<p> You rolled ${totalRollEffectiveSkill} and failed on Frequency of Appearance check and your contact it's not avaiable now. Try in <b>${rollEffectiveSkill[0]}</b> days.`



    }











</script>




