<style>
  p:nth-of-type(2n + 1) {
    background-color: rgba(0, 0, 0, 0.1);
    height: 22px;
    margin: 0px;
  }

  p:nth-of-type(2n + 2) {
    background-color: rgba(255, 255, 255, 0.276);
    height: 22px;
    margin: 1px;
  }

  .colpai {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  .colunah {
    background-color: black;
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 2px;
    color: white;
    margin: 1px;
  }

  .coluna1 {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 1px;
  }

  .coluna2 {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 1px;
  }

  .coluna3 {
    width: auto;
    height: auto;
    text-align: center;
    vertical-align: middle;
    margin: 1px;
  }

  .option {
    height: 20px;
    padding-top: 2px;
    text-align: center;
    vertical-align: middle;
  }

  .optionc {
    height: 20px;
    text-align: left;
    vertical-align: right;
    padding-left: 20px;
  }

  input[type="radio"] {
    vertical-align: left;
  }

  .spaceblack {
    background-color: rgba(89, 88, 88, 0.667);
    height: 5px;
    width: auto;
  }

  .butpai {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  div#res {
    background-image: url("systems/gurps/icons/hex2.webp");
    height: 150px;
    text-align: center;
    margin-bottom: 15px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(80, 83, 83, 0.384);
    border-radius: 18px;
    border-top: 5px solid rgb(0, 0, 0);
    background-color: rgba(231, 231, 231, 0.555);
    font-size: 14px;
  }
</style>

<div class="callheader">First Aid Calculator</div>
<div class="colpai">
  <div class="colunah">Tech Level</div>
  <div class="colunah">Time</div>
  <div class="colunah">HP Restored</div>
</div>
<div class="colpai">
  <div class="coluna1">
    <form style="text-align: left">
      <p class="optionc">
        <input type="radio" name="OPCAO" value="-4" checked /> 0-1
      </p>
      <p class="optionc"><input type="radio" name="OPCAO" value="-3" /> 2-3</p>
      <p class="optionc"><input type="radio" name="OPCAO" value="-2" /> 4</p>
      <p class="optionc"><input type="radio" name="OPCAO" value="-2" /> 5</p>
      <p class="optionc"><input type="radio" name="OPCAO" value="-1" /> 6-7</p>
      <p class="optionc"><input type="radio" name="OPCAO" value="+0" /> 8</p>
      <p class="optionc"><input type="radio" name="OPCAO" value="+1" /> 9</p>
    </form>
  </div>
  <div class="coluna2">
    <p class="option">30 minutes</p>
    <p class="option">30 minutes</p>
    <p class="option">30 minutes</p>
    <p class="option">20 minutes</p>
    <p class="option">20 minutes</p>
    <p class="option">10 minutes</p>
    <p class="option">10 minutes</p>
  </div>
  <div class="coluna2">
    <form>
      <p class="option">1d6-4</p>
      <p class="option">1d6-3</p>
      <p class="option">1d6-2</p>
      <p class="option">1d6-2</p>
      <p class="option">1d6-1</p>
      <p class="option">1d6</p>
      <p class="option">1d6+1</p>
    </form>
  </div>
</div>
<div class="spaceblack"></div>

<div class="coluna3">
  <form>
    <div class="form-group">
      <label style="text-align: left"><b>Physiology:</b> </label>
      <select id="phisiology" name="phisiology">
        <option value="[+0 Same specie]">Same specie</option>
        <option value="[-2 Similar physiology]">Similar physiology</option>
        <option value="[-5 Very different physiology]">Very different</option>
        <option value="[-6 Utterly alien]">Utterly Alien</option>
        <option value="[+0 bip bop buuuump error!]">Machines</option>
      </select>
    </div>
  </form>
  <form>
    <div class="form-group">
      <label style="text-align: left"><b>Equipments:</b> </label>
      <select id="gear" name="gear">
        <option value="[+1 First aid kit]">First Aid Kit</option>
        <option value="[-2 No First Aid Kit]">Without Kit</option>
        <option value="[+2 Crash kit]">Crash Kit</option>
        <option value="[+2 Better First Aid Kit]">Better First Aid Kit</option>
        <option value="[-2 Improvised Item]">Better First Aid Kit</option>
      </select>
    </div>
  </form>
</div>

<div id="res">
  Make a skill roll to bandage a wound, treat shock, give CPR, save someone from
  choking, etc. Unusual problems must be identified using
  <span
    class="gurpslink"
    onclick="GURPS.executeOTF('/r [S:Diagnosis/TL | IQ-6 | S:First*Aid-8 | S:Physician-4 | S:Veterinary-5]]')"
    >Diagnosis</span
  >
  skill first.
</div>

<div class="butpai">
  <button class="button-28" role="button" onclick="skill()">Skill</button>
  <button
    class="button-28"
    style="margin-left: 10px"
    role="button"
    onclick="heal()"
  >
    Heal
  </button>
</div>

<script>
  document.getElementById("otf").onclick = function () {
    GURPS.executeOTF(
      "/roll [S:Diagnosis/TL | IQ-6 | S:First*Aid-8 | S:Physician-4 | S:Veterinary-5]]"
    );
  };

  function skill() {
    let tokenD = canvas.tokens.controlled[0];
    var gear = $("#gear").val();
    var phisiology = $("#phisiology").val();

    GURPS.executeOTF(`/sendmb ${tokenD.name} ${gear}${phisiology}`);
    var gear = document.getElementById("gear");
    ChatMessage.create({
      content: `${tokenD.name} click here ["First Aid/TL" /r [S:First*Aid/TL | IQ-4 | S:Esoteric*Medicine | S:Physician | S:Veterinary-4]] to make your check!`,
    });
  }

  function heal() {
    let res = document.getElementById("res").value;

    var radios = document.getElementsByName("OPCAO");
    for (var i = 0; i < radios.length; i++) {
      if (radios[i].checked) {
        let d6 = getRndInteger();
        let modD6 = radios[i].value;
        let resultado = d6 + Number(modD6);

        if (resultado < 1) {
          resultado = 1;
        } else {
          resultado;
        }
        console.log(resultado);
        GURPS.executeOTF(`/r [/hp +${resultado}]`);

        let actorId = canvas.tokens.controlled[0].actor;
        let tokenD = canvas.tokens.controlled[0];
        let HP = actorId.system.HP.value;
        let HPajustado = HP + 1;

        function getRndInteger(min, max) {
          return Math.floor(Math.random() * (6 - 1 + 1)) + 1;
        }
        // res.innerHTML = `You healed ${tokenD.name} using your first aid skills and recovered ${resultado} HP and now ${tokenD.name} have ${HPajustado} Hit Points. You can use Medicine to help better tomorrow! `
        res.innerHTML = `You healed using your first aid skills and recovered ${resultado} HP and now  have ${HPajustado} Hit Points. You can use Medicine to help better tomorrow! `;
      }
    }
  }
</script>
