<style>
  .callheader {
    background-color: black;
    font-family: Roboto, sans-serif;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 0.375rem;
    font-size: 18px;
    text-decoration: none;
  }

  #gambling .window-content {
    background: #dbd9cd;
    background-image: url("systems/gurps/icons/hex2.webp");
    height: 100px;
  }

  .buttonn {
    height: 26px;
    cursor: pointer;
    padding-bottom: 10px;
  }

  #titulo {
    width: auto;
    height: 30px;
    font-weight: 500;
    padding-top: 8px;
    padding-left: 5px;
  }
</style>

<body>
  <div class="callheader">Bet On It!</div>

  <form>
    <div class="form-group">
      <label style="margin-left: 3px; font-weight: 500"> Pool:</label>
      <input
        id="bet"
        type="number"
        name="bet"
        min="1"
        placeholder="How much money?"
        style="background-color: #7e7b7b5b"
      />
    </div>
  </form>

  <br />
  <hr style="margin-top: -5px" />
  <div style="display: flex">
    <div style="display: inline-block; margin-right: 3px; width: 130px">
      <div id="titulo">Player</div>
      <input id="name1" type="text" name="name1" style="margin-top: 3px" />
      <input id="name2" type="text" name="name2" style="margin-top: 3px" />
      <input id="name3" type="text" name="name3" style="margin-top: 3px" />
      <input id="name4" type="text" name="name4" style="margin-top: 3px" />
    </div>

    <div style="display: inline-block; margin-right: 3px; width: 100px">
      <div id="titulo">Skill</div>
      <select
        id="phisiology"
        name="skill1"
        style="margin-top: 3px; height: 26px"
      >
        <option value="/r [S:Gambling | IQ-5 | S:Mathematics*Statistics-5]">
          Gambling
        </option>
        <option value="/r [S:Hobby*Skill | DX-4 | IQ-4]">Hobby Skill</option>
      </select>
      <select
        id="phisiology"
        name="skill2"
        style="margin-top: 3px; height: 26px"
      >
        <option value="/r [S:Gambling | IQ-5 | S:Mathematics*Statistics-5]">
          Gambling
        </option>
        <option value="/r [S:Hobby*Skill | DX-4 | IQ-4]">Hobby Skill</option>
      </select>
      <select
        id="phisiology"
        name="skill3"
        style="margin-top: 3px; height: 26px"
      >
        <option value="/r [S:Gambling | IQ-5 | S:Mathematics*Statistics-5]">
          Gambling
        </option>
        <option value="/r [S:Hobby*Skill | DX-4 | IQ-4]">Hobby Skill</option>
      </select>
      <select
        id="phisiology"
        name="skill4"
        style="margin-top: 3px; height: 26px"
      >
        <option value="/r [S:Gambling | IQ-5 | S:Mathematics*Statistics-5]">
          Gambling
        </option>
        <option value="/r [S:Hobby*Skill | DX-4 | IQ-4]">Hobby Skill</option>
      </select>
    </div>
    <div style="display: inline-block; width: 40px">
      <div id="titulo">NH</div>
      <input
        id="skill1"
        type="number"
        name="nh1"
        placeholder="0"
        style="margin-top: 3px"
      />
      <input
        id="skill2"
        type="number"
        name="nh2"
        placeholder="0"
        style="margin-top: 3px"
      />
      <input
        id="skill3"
        type="number"
        name="nh3"
        placeholder="0"
        style="margin-top: 3px"
      />
      <input
        id="skill4"
        type="number"
        name="nh4"
        placeholder="0"
        style="margin-top: 3px"
      />
    </div>
    <div style="display: inline-block; margin-right: 3px; width: 40px">
      <div id="titulo">Margin</div>
      <input
        id="margin1"
        type="number"
        name="margin1"
        placeholder="0"
        style="margin-top: 3px"
      />
      <input
        id="margin2"
        type="number"
        name="margin2"
        placeholder="0"
        style="margin-top: 3px"
      />
      <input
        id="margin3"
        type="number"
        name="margin3"
        placeholder="0"
        style="margin-top: 3px"
      />
      <input
        id="margin4"
        type="number"
        name="margin4"
        placeholder="0"
        style="margin-top: 3px"
      />
    </div>

    <div style="display: inline-block; width: 60px; padding-top: 31px">
      <button
        class="buttonn"
        role="button"
        value="Calcular"
        onclick="gambling1()"
      >
        Bet
      </button>
      <button
        class="buttonn"
        role="button"
        value="Calcular"
        onclick="gambling2()"
        style="margin-top: 4px"
      >
        Bet
      </button>
      <button
        class="buttonn"
        role="button"
        value="Calcular"
        onclick="gambling3()"
        style="margin-top: 4px"
      >
        Bet
      </button>
      <button
        class="buttonn"
        role="button"
        value="Calcular"
        onclick="gambling4()"
        style="margin-top: 4px"
      >
        Bet
      </button>
    </div>
  </div>

  <hr />
  <button
    role="button"
    value="Calcular"
    onclick="calcula()"
    style="margin-top: 3px; cursor: pointer"
  >
    Show
  </button>
</body>
<script>
  async function gambling1() {
    let tokenD = canvas.tokens.controlled[0];
    document.getElementsByName("name1")[0].value = tokenD.name;
    await GURPS.executeOTF(` ${document.getElementsByName("skill1")[0].value}`);
    let data = GURPS.lastTargetedRolls[tokenD.id];
    document.getElementsByName("nh1")[0].value = data.finaltarget;
    document.getElementsByName("margin1")[0].value = data.margin;
  }
  async function gambling2() {
    let tokenD = canvas.tokens.controlled[0];
    document.getElementsByName("name2")[0].value = tokenD.name;
    await GURPS.executeOTF(` ${document.getElementsByName("skill2")[0].value}`);
    let data = GURPS.lastTargetedRolls[tokenD.id];
    document.getElementsByName("nh2")[0].value = data.finaltarget;
    document.getElementsByName("margin2")[0].value = data.margin;
  }
  async function gambling3() {
    let tokenD = canvas.tokens.controlled[0];
    document.getElementsByName("name3")[0].value = tokenD.name;
    await GURPS.executeOTF(` ${document.getElementsByName("skill3")[0].value}`);
    let data = GURPS.lastTargetedRolls[tokenD.id];
    document.getElementsByName("nh3")[0].value = data.finaltarget;
    document.getElementsByName("margin3")[0].value = data.margin;
  }
  async function gambling4() {
    let tokenD = canvas.tokens.controlled[0];
    document.getElementsByName("name4")[0].value = tokenD.name;
    await GURPS.executeOTF(` ${document.getElementsByName("skill4")[0].value}`);
    let data = GURPS.lastTargetedRolls[tokenD.id];
    document.getElementsByName("nh4")[0].value = data.finaltarget;
    document.getElementsByName("margin4")[0].value = data.margin;
  }
  function calcula() {
    let bet = $("#bet").val();

    let name1 = $("#name1").val();
    let name2 = $("#name2").val();
    let name3 = $("#name3").val();
    let name4 = $("#name4").val();
    var margin1 = Number($("#margin1").val());
    var margin2 = Number($("#margin2").val());
    var margin3 = Number($("#margin3").val());
    var margin4 = Number($("#margin4").val());

    let divisor = 1;

    if (margin1 > 0) {
      divisor = divisor;
    }
    if (margin2 != "") {
      divisor = 2;
    }
    if (margin3 != "") {
      divisor = 3;
    }
    if (margin4 != "") {
      divisor = 4;
    }
    console.log(divisor);

    //jogador 1
    let marginTotal = (margin1 + margin2 + margin3 + margin4) / divisor;
    let marginJogador1 = margin1 - marginTotal;
    let dinheiroFinal1 = ((marginJogador1 * 10) / 100) * bet;
    if (dinheiroFinal1 > 0)
      ChatMessage.create({
        content: `<h1 style="background-color: green; color: #fff;">${name1}</h1> Won ${dinheiroFinal1.toFixed(
          2
        )} $`,
      });
    if (dinheiroFinal1 < 0)
      ChatMessage.create({
        content: `<h1 style="background-color: red; color: #fff;">${name1}</h1> Lost ${dinheiroFinal1.toFixed(
          2
        )} $`,
      });
    if (dinheiroFinal1 === null) console.log("deu nada");
    //jogador 2
    let marginTotal2 = (margin1 + margin2 + margin3 + margin4) / divisor;
    let marginJogador2 = margin2 - marginTotal2;
    let dinheiroFinal2 = ((marginJogador2 * 10) / 100) * bet;
    if (dinheiroFinal2 > 0)
      ChatMessage.create({
        content: `<h1 style="background-color: green; color: #fff;">${name2}</h1> Won ${dinheiroFinal2.toFixed(
          2
        )} $`,
      });
    if (dinheiroFinal2 < 0)
      ChatMessage.create({
        content: `<h1 style="background-color: red; color: #fff;">${name2}</h1> Lost ${dinheiroFinal2.toFixed(
          2
        )} $`,
      });
    if (dinheiroFinal2 === null) console.log("deu nada");
    //jogador 2
    let marginTotal3 = (margin1 + margin2 + margin3 + margin4) / divisor;
    let marginJogador3 = margin3 - marginTotal3;
    let dinheiroFinal3 = ((marginJogador3 * 10) / 100) * bet;
    if (dinheiroFinal3 > 0)
      ChatMessage.create({
        content: `<h1 style="background-color: green; color: #fff;">${name3}</h1> Won ${dinheiroFinal3.toFixed(
          2
        )} $`,
      });
    if (dinheiroFinal3 < 0 && divisor >= 3)
      ChatMessage.create({
        content: `<h1 style="background-color: red; color: #fff;">${name3}</h1> Lost ${dinheiroFinal3.toFixed(
          2
        )} $`,
      });
    if (dinheiroFinal3 === undefined) console.log("deu nada");
    //jogador 2Won
    let marginTotal4 = (margin1 + margin2 + margin3 + margin4) / divisor;
    let marginJogador4 = margin4 - marginTotal4;
    let dinheiroFinal4 = ((marginJogador4 * 10) / 100) * bet;
    if (dinheiroFinal4 > 0)
      ChatMessage.create({
        content: `<h1 style="background-color: green; color: #fff;">${name4}</h1> Won ${dinheiroFinal4.toFixed(
          2
        )} $`,
      });
    if (dinheiroFinal4 < 0 && divisor == 4)
      ChatMessage.create({
        content: `<h1 style="background-color: red; color: #fff;">${name4}</h1> Lost ${dinheiroFinal4.toFixed(
          2
        )} $`,
      });
    if (dinheiroFinal4 === undefined) console.log("deu nada");
  }
</script>
