<style>
  .callheader {
    background-color: black;
    font-family: Roboto, sans-serif;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 0.375rem;
    font-size: 18px;
    text-decoration: none;
  }

  div#homePage {
    width: auto;
    margin: 5px;
    padding: 1px 20px;
    cursor: pointer;
    border: 1px black;
    border-radius: 18px;
    border-style: outset;
    margin-top: 10px;
    background-image: url("systems/gurps/icons/hex2.webp");
  }

  li {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
  }
</style>

<body>
  <div class="callheader">Random Treasure Generator</div>
  <form>
    <div class="form-group">
      <label><b>Type:</b> </label>
      <select id="type" name="type">
        <option value="">Random treasure</option>
        <option value="Accountrements">Accountrements</option>
        <option value="Armor">Armor</option>
        <option value="Basic Melee Weapons">Basic Melee Weapons</option>
        <option value="Basic Missile Weapons">Basic Missile Weapons</option>
        <option value="Books and Maps">Books and Maps</option>
        <option value="Concoctions">Concoctions</option>
        <option value="Containers">Containers</option>
        <option value="Fiber and Fabric">Fiber and Fabric</option>
        <option value="Garments">Garments</option>
        <option value="Household Items">Household Items</option>
        <option value="Jewelry">Jewelry</option>
        <option value="Martial Arts Melee Weapons">
          Martial Arts Melee Weapons
        </option>
        <option value="Martial Arts Missile Weapons">
          Martial Arts Missile Weapons
        </option>
        <option value="Other Materials">Other Materials</option>
        <option value="Rare Artifacts">Rare Artifacts</option>
        <option value="Scrolls">Scrolls</option>
        <option value="Shields">Shields</option>
        <option value="Spices">Spices</option>
        <option value="Unusual Items">Unusual Items</option>
      </select>
    </div>
  </form>
  <form>
    <div class="form-group">
      <label><b> Quantity </b></label>
      <input id="qtd" type="number" name="inputHP" placeholder="0" />
    </div>
  </form>
  <form>
    <div class="form-group">
      <label><b> Minimum Value</b></label>
      <input id="minval" type="number" name="inputHP" placeholder="0" />
    </div>
  </form>
  <form>
    <div class="form-group">
      <label><b> Maximum Value</b></label>
      <input id="maxval" type="number" name="inputHP" placeholder="0" />
    </div>
  </form>
  <form>
    <div class="form-group">
      <label><b> Enchantments</b></label>
      <input
        id="enc"
        type="number"
        name="inputHP"
        min="1"
        max="10"
        placeholder=""
        style="margin-bottom: 5px"
      />
    </div>
  </form>
  <button onclick="loadHTML()">Generate</button>
  <div contenteditable="true" id="homePage">
    <br />
    <p></p>
    <h3 style="font-weight: 500">
      Here are some of the currently known issues with the service:
    </h3>
    <br />
    <li>
      Scroll costs are for assumed 1pt energy cost to cast {it was just too much
      work to type in all of the spells from GURPS 4e Magic}
    </li>
    <li>Doesn't handle hidden text in Books.</li>
    <li>Household item decorative motif/designs missing.</li>
    <li>
      Gems should be aggregated into higher caret values, but are not currently.
    </li>
    <li>
      Does not allow specifying multiple list of item types rather than one at a
      time.
    </li>
    <li>
      The item decoration descriptions could probably use a little tweaking
      (grammar is sometimes off)
    </li>
    <li>Enchantment number cannot be equal 0 :(</li>
  </div>
  <small>
    <p style="text-align: center">
      This content uses only itens from
      <span class="pdflink" onclick="GURPS.executeOTF('[PDF:DF80]')"
        >Dungeon Fantasy 8</span
      >
    </p>
  </small>
</body>
<script>
  function loadHTML() {
    let type = window.document.getElementById("type").value;
    let qtd = window.document.getElementById("qtd").value;
    let minValue = window.document.getElementById("minval").value;
    let maxValue = window.document.getElementById("maxval").value;
    let maxEnchant = window.document.getElementById("enc").value;
    console.log(maxEnchant);
    fetch(
      `https://df-treasure-generator.herokuapp.com/v1/generate/${qtd}/${type}/?max=${maxValue}&min=${minValue}&max_enchant=${maxEnchant}&format=html`
    )
      .then((response) => response.text())
      .then((text) => (document.getElementById("homePage").innerHTML = text));
  }
</script>
