<style>
    .callheader {
      background-color: black;
      font-family: Roboto, sans-serif;
      color: white;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
      height: 50px;
      margin-bottom: 10px;
      border-radius: 0.375rem;
      font-size: 18px;
      text-decoration: none;
    }
    .colunapai {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: rgba(169, 169, 169, 0.244);
    }
  .colunete {
    display: inline-block;
    margin-top: 10px;
    width: 49%;
  }

</style>
<p class="callheader">Fire in the Hole</p>
<form>
  <div class="form-group">
    <label>Concussion dices:</label>
    <input
      id="cdices"
      type="number"
      placeholder="Only numbers"
      required
    />
  </div>
</form>
<form>
  <div class="form-group">
    <label>Fragmentation dices:</label>
    <input
      id="fdices"
      type="number"
      placeholder="Only numbers"
      required
    />
  </div>
</form>
<form>
  <div class="form-group">
    <label>Grenade Skill:</label>
    <input
      id="gskill"
      type="number"
      placeholder="Only for fragmentation "
      required
    />
  </div>
</form>

    
<div class="colunete">
  <button  role="button" onclick="concussion()">Concussion</button>
</div>
<div class="colunete">
  <button  role="button" onclick="fragmentation()">Fragmentation</button>

</div>
   

</body>

<script>
   let tokenD = canvas.tokens.controlled[0];
  const targets = Array.from(game.user.targets);
  const gridSize = canvas.grid.size;
  const startPoint = { x: tokenD.x + 0.5 * gridSize, y: tokenD.y + 0.5 * gridSize };
  let dices = $("#dices").val();

  /*

        FRAGMENTATION

  */
    async function fragmentation(){
      let cdices = $("#fdices").val();
      let gskills = $("#gskill").val();
      let frolls = [];

      for (var a = 1; a <= fdices; a++) {
    frolls.push(Math.floor(Math.random() * (6 - 1 + 1) + 1));
  }
     let ftotal = frolls.reduce((pV, cV) => pV + cV, 0);

    await GURPS.executeOTF(`/ra ${gskills}`)
    let data = GURPS.lastTargetedRolls[tokenD.id];

    let success = Math.floor(data.margin/3)      

   
  if (success >  0) success++
  
  ChatMessage.create({ content: `<b>The ${tokenD.name}</b> grenades hitted the target with ${success} fragmentation with ["${ftotal} cutting damage" ${ftotal} cut]  each <br>` }); 



  }
/*

        CONCUSSION

  */
  function concussion() {
 

  let rolls = [];
  let cdices = $("#cdices").val();
  let messageData = "<h2>Grenade Distance</h2><br>";

  for (var a = 1; a <= cdices; a++) {
    rolls.push(Math.floor(Math.random() * (6 - 1 + 1) + 1));
  }
  let total = rolls.reduce((pV, cV) => pV + cV, 0);

  ChatMessage.create({ content: `You rolled (${rolls}) = ${total}` });
  
  targets.forEach(async (target) => {
    const distance = canvas.grid
      .measureDistance(startPoint, target, { gridSpaces: true })
      .toFixed(1);

    let c = 0;
    while (c <= 6) {
      let explosion = Math.floor(total / (c * 3)).toFixed();
      if (distance == c)
        messageData += `<b>${target.name}</b> Is <b>${c} yards </b>from grenade and took ["${explosion} burning damage" ${explosion} burn]  <br>`;
      c++;
console.log(rolls)    
}
  });
  ChatMessage.create({ content: messageData }); 


}
</script>
