<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .box {
      background-color: rgba(67, 67, 67, 0.033);
      display: flex;
      justify-content: space-between;

    }

    .coluna {
      display: inline-block;
      width: auto;
    }
  </style>
  <body>
    <form>
      <div class="form-group">
        <label style="margin-right: 10px"><b>Technologic Level</b> </label>
        <select id="tl" name="tl">
          <option value="[+0 Same specie]">TL1</option>
          <option value="[-2 Similar physiology]">TL2</option>
          <option value="[-5 Very different physiology]">TL3</option>
          <option value="[-6 Utterly alien]">TL4</option>
          <option value="[+0 bip bop buuuump error!]">TL5</option>
          <option value="[+0 bip bop buuuump error!]">TL6</option>
          <option value="[+0 bip bop buuuump error!]">TL7</option>
          <option value="[+0 bip bop buuuump error!]">TL8</option>
          <option value="[+0 bip bop buuuump error!]">TL9</option>
          <option value="[+0 bip bop buuuump error!]">TL10</option>
        </select>
      </div>
    </form>
<hr>

    <div class="box">
      <div class="coluna">
        <form>
          <div class="form-group">
            <label style="margin-right: 35px"><b>Status</b> </label>
            <select id="tl" name="tl">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </form>
      </div>

      <div class="coluna">
        <form>
          <div class="form-group">
            <label style="margin-right: 35px"><b>Wealth</b> </label>
            <select id="tl" name="tl">
              <option value="0">Dead Broke</option>
              <option value="0.2">Poor</option>
              <option value="0.5">Struggling</option>
              <option value="1">Average</option>
              <option value="2">Confortable</option>
              <option value="5">Wealthy</option>
              <option value="20">Very Wealthy</option>
              <option value="100">Filth Rich</option>
              <option value="1000">MM1</option>
              <option value="10000">MM2</option>
              <option value="100000">MM3</option>
              <option value="1000000">MM4</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="myscripts.js"></script>
</html>
