<form>
  <div class="form-group">
    <label>Basic Lift:</label>
    <input id="basic" onmouseenter="carrega()" type="text" name="input" />
  </div>
</form>
<form>
  <div class="form-group">
    <label>One-Handed Lift:</label>
    <input id="oneh" type="number" name="input" />
  </div>
</form>
<form>
  <div class="form-group">
    <label>Two-Handed Lift:</label>
    <input id="input" type="number" name="input" />
  </div>
</form>
<form>
  <div class="form-group">
    <label>Carry on Back:</label>
    <input id="input" type="number" name="input" />
  </div>
</form>
<form>
  <div class="form-group">
    <label>Shift Slightly:</label>
    <input id="input" type="number" name="input" />
  </div>
</form>
<script>
  function carrega() {
    var token = canvas.tokens.controlled[0];
    var bL = token.actor.system.liftingmoving.basiclift;
    console.log(bL.replace(/[^0-9\.]+/g, ""));
    document.getElementById("basic").value = bL;

    //one-handed
    document.getElementById("oneh").value = bL * 2;
  }
</script>
