<style>
  .container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3px;
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .callheader {
    background-color: black;
    font-family: Roboto, sans-serif;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 0.375rem;
    font-size: 18px;
    text-decoration: none;
    
  }
  .boxes {
  display: flex;
  justify-content: space-between;
}
.field {
  display: inline-block;
}

</style>
<html>
  <div class="callheader">Cyberpsychosis</div>

  <div class="container">
    <div class="grid-item">
      <form>
        <div class="form-group">
          <label>Implants:</label>
          <input
            id="implants"
            type="number"
            name="input"
            placeholder="How many points"
            required
          />
        </div>
      </form>
    </div>

    <div class="grid-it">
      <button role="button" onclick="leve()">Calculate</button>
    </div>
  </div>

&nbsp;
<fieldset>
  <blockquote> <strong>IMPORTANT</strong> <br> This rule is not oficial! Was made by friends to cover cyberpsychosis described on Cyberpunk2077 </blockquote>
        
  <br>
  1- Fill the field above with the number of implants in character points that the character has, treat negative values ​​as positive
  <br>
  2- The game will return as chat message some disadvantages based on the value inserted. 
  <br>
  3- Treat Mild disadvantages as Perks.
  <br>
  4- The quantity os implants is the check to resist the disadvantages and you have to fail to resist.
  <br>

</fieldset>
<br>
<!--
<div class="boxes">

      <form>
        <div class="form-group">
          <label style="text-align: center; margin-right: 10px;">Low:</label>
          <input style="width: 80px;" placeholder="50" type="number" id="low" type="number" placeholder="25" required/>
        </div>
      </form>

      <form>
        <div class="form-group">
          <label style="padding-left: 5px; margin-right: 10px; text-align: center;"> Medium:</label>
          <input style="width: 80px;" placeholder="75" type="number" id="medium" type="number" placeholder="50 " required/>
        </div>
      </form>
  
      <form>
        <div class="form-group">
          <label style="padding-left: 5px; margin-right: 10px; text-align: center;"> High:</label>
          <input style="width: 80px;" placeholder="" type="number"  id="high" type="number" placeholder="75" required/>
        </div>
      </form>

</div>
-->











</html>
<script>
  function leve() {
    let traits = [
      "Bad Temper",
      "Alcoholism",
      "Chronic Depression",
      "Flashbacks",
      "Manic-Depressive",
      "On the Edge",
      "Bully",
      "Callous",
      "Bloodlust",
      "Compulsive Behaviour",
      "Berserk",
      "Short Attention Span",
      "Bloodlust",
      "Selfish",
      "Epilepsy",
      "Insone",
      "Obsession",
      "Paranoia",
      "Phantom Voices",
      "Impulsiveness",
      "Kleptomania",
    ];
    
    let field = $("#implants").val();

    if (field <= 50) {
      mild = 1;
    } else if (field > 50) {
      mild = 2;
    } else {
      mild = 0;
    }

    if (field <= 75) {
      moderate = 1;
    } else if (field > 75) {
      moderate = 2;
    } else {
      moderate = 0;
    }

    if (field <= 74) {
      severe = 0;
    } else if (field >= 75) {
      severe = 1;
    } else {
      severe = 0;
    }


    let arraymild = [];
    let m = 0;
    while (m < mild) {
      //const random = Math.floor(Math.random() * traits.length);
      const random = Math.floor(Math.random() * traits.length - `${m}`);
      let name = traits.splice(random, 1);
      arraymild.push(" " + name);
      m++;
    }

    let arraymoderate = [];
    let mo = 0;
    while (mo < moderate) {
      const random = Math.floor(Math.random() * traits.length - `${mo}`);
      let name = traits.splice(random, 1);
      arraymoderate.push(" " + name);
      mo++;
    }
    let arraysevere = [];
    let ms = 0;
    while (ms < severe) {
      const random = Math.floor(Math.random() * traits.length - `${ms}`);
      let name = traits.splice(random, 1);
      arraysevere.push(" " + name);
      ms++;
    }
    console.log("mild", arraymild)
    console.log("moderate", arraymoderate)
    console.log("severe", arraysevere)

  ChatMessage.create({
      content: `<h1 style="background-color: black;
                          color: white;
                          font-weight: 500;
                          font-size: large;
                          padding: 6% 5% 5% 20%;
                          height: 60px;
                          width: auto"> Cyberpsychosis:
                           </h1>
                          <br>
                          ${arraymild.length} Mild =   ${+" ", arraymild} <br>
                          ${arraymoderate.length} Moderate =  ${+" ",arraymoderate}<br>
                          ${arraysevere.length} Severe =   ${+" ",arraysevere}<br>    
      `,
    });

  }
</script>
